html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.weight-500 {
  font-weight: 500;
}

.weight-600 {
  font-weight: 600;
}

.text-upper {
  text-transform: uppercase;
}

.text-c-light {
  color: #636b6f;
}

.display-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    letter-spacing: .1rem;
    text-decoration: none;
}

.links > a.text-c-primary {
  position: relative;
  display: inline-block;
  color: #2281B9;
  text-decoration: none;
}

.links > a.text-c-primary::after {
  content: '';
  position: absolute;
  left: 10%;
  bottom: -10px;
  width: 80%;
  height: 2px;
  background-color: #2281B9;
}

.underline-none {
  text-decoration: none;
}

.underline-none:hover,
.underline-none:focus {
  text-decoration: none;
}

.m-b-md {
    margin-bottom: 30px;
}

.position-relative {
  position: relative;
}

.bg-c-gray {
  background: #f8f9fa;
}
